#container {
  box-shadow: #0000003d 0 3px 8px;
  max-width: 50%;
  margin: 50px auto;
}

#head {
  padding: 3%;
  color: #616263;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  font-family: "Inter", sans-serif;
}

.todo {
  padding: 3%;
  border-bottom: 0.6px solid #d8d8d8;
}

#container .todo {
  width: 100%;
  font-style: italic;
  border-top: 0.6px solid #d8d8d8;
  border-right: none;
  border-bottom: 0.6px solid #d8d8d8;
  border-left: none;
  padding: 3%;
}

#container .todo:focus {
  outline: none;
}

.clear {
  background-color: #f0f0f07e;
  text-align: center;
  padding: 3%;
}

.clear a {
  color: #444b57;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.clear a:hover {
  color: #777a87;
  font-weight: bold;
}

.checkbox {
  margin: 10px;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 2px solid #b4b4b6;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
}

.checkbox:hover {
  border-color: #8c8c8f;
}

span {
  font-family: "Inter", sans-serif;
}

.item {
  display: flex;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 0.6px solid #d8d8d8;
}

form {
  display: flex;
}

#add {
  padding-left: 42%;
  padding-top: 2%;
  height: 0%;
  width: 0%;
  position: absolute;
}

.remove {
  padding-top: 1%;
  margin: auto;
  position: absolute;
  margin-left: 42%;
}

.todo-edit {
  font-family: "Inter", sans-serif;
  padding-top: 4%;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
  width: 100%;
  padding-left: 28%;
  line-height: 29px;
  font-size: 15px;
}
